html {
  font-family: 'Karla', sans-serif;
  font-size: 62.5%;
}
body {

  background-color:#F5F7FB ;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.quiz-div{
  background-color:#F5F7FB ;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.start-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start-title {
  z-index: 3;
  font-weight: 600;
  font-size: 3.125rem;
  margin:0;
  color: #293264;
}
.start-text {
  z-index: 2;
  color: #293264;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: .7rem;
}
.start-button, .check-button {
  z-index: 1;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-weight: 400;
  width: 20rem;
  height: 5rem;
  border: none;
  border-radius: 1.5rem;
  margin-top: 3rem;
}
.figure-bottom {
  position: absolute;
  width: 30rem;
  height: 24rem;
  background-image: url('../public/images/shape_bottom.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  left: 0px;
  top: calc(100vh - 24rem);
}
.figure-top {
  position: absolute;
  width: 30rem;
  height: 24rem;
  background-image: url('../public/images/shape_top.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  right: 0;
  top: 0;


}
.question-div{
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 40rem;


}

.question-div::after {
  content: '';
  border-bottom: 1px solid #293264;
  max-width: 40rem ;
  z-index: 2;

}
.answers-div{
  display: flex;
  max-width: 40rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
}

.question-option {
  z-index: 2;
  border-color: 0.5px solid #4D5B9E;
  border-radius: 8px;
  margin-top: 1.2rem;
  
}
.question-title {
  z-index: 2;
  margin: 0;
  font-weight: 600;
  font-size: 1.6rem;
  color: #293264;
  
  max-width: 40rem;
}
.question-option:not(:last-child) {
  margin-right: 1.2rem;
}
.check-button {
  font-size: 1rem;
  width: 12rem;
  height: 3.5rem;
}